In [1]:
from loadData import *
from preProcessing import *
pd.set_option("max_columns",None)
pd.set_option("max_rows",100)

In [2]:
train= load_train_dataset()
test = load_test_dataset()

/Users/hq/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
preProce = PreProcessing()
preProce.fit(train)
preProce.drop_null_row()

In [4]:
preProce.dataset.id.value_counts()

4094     1
14994    1
661      1
6806     1
4759     1
        ..
15693    1
21840    1
23889    1
17746    1
0        1
Name: id, Length: 23332, dtype: int64

In [5]:
preProce.cutFIELD_3()

In [6]:
preProce.dataset

,id,label,province,district,age_source1,age_source2,maCv,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,FIELD_16,FIELD_17,FIELD_18,FIELD_19,FIELD_20,FIELD_21,FIELD_22,FIELD_23,FIELD_24,FIELD_25,FIELD_26,FIELD_27,FIELD_28,FIELD_29,FIELD_30,FIELD_31,FIELD_32,FIELD_33,FIELD_34,FIELD_35,FIELD_36,FIELD_37,FIELD_38,FIELD_39,FIELD_40,FIELD_41,FIELD_42,FIELD_43,FIELD_44,FIELD_45,FIELD_46,FIELD_47,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
1,1,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,44.0,44.0,NaN,1,0.0,NaN,1.0,1.0,1.0,"['GD', 'GD', 'TE']",MALE,GD,T1,12.0,NaN,BI,0,0,2.0,G8,True,True,True,1.0,4.0,True,NaN,False,False,True,True,NaN,NaN,NaN,0,1,0,Zero,False,True,False,VN,NaN,V,Zezo,NaN,One,1.0,0,False,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,Tỉnh Đồng Nai,Huyện Long Thành,30.0,30.0,Công nhân,0,1.0,8,1.0,4.0,0.0,"['DN', 'HN', 'DN']",FEMALE,DN,T1,12.0,0,YN,0,0,1.0,NaN,False,False,False,1.0,54.0,True,NaN,True,True,True,True,False,False,False,0,1,1,Zero,False,True,False,NaN,NaN,I,Zezo,NaN,Two,2.0,1,True,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,Tỉnh Tuyên Quang,Thành phố Tuyên Quang,43.0,NaN,NaN,0,1.0,10,1.0,1.0,0.0,"['CH', 'TQ']",NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,Thành phố Hồ Chí Minh,Quận 1,21.0,21.0,NaN,0,1.0,3,0.0,2.0,0.0,"['SV', 'GD']",MALE,GD,T1,12.0,NaN,BI,0,0,1.0,G8,True,True,True,1.0,24.0,True,NaN,False,False,True,True,NaN,NaN,NaN,0,1,0,Zero,False,True,False,NaN,NaN,V,Zezo,NaN,One,1.0,1,True,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0
6,6,0,NaN,NaN,NaN,28.0,2983,1,0.0,NaN,0.0,0.0,0.0,NaN,MALE,DN,GH,3.0,NaN,TG,1,1,1.0,NaN,True,True,False,1.0,0.0,True,NaN,False,False,True,True,NaN,NaN,NaN,0,1,0,Four,True,True,False,NaN,NaN,I,Zezo,NaN,One,1.0,1,False,False,True,29.77,4.413,30.955,31.171,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,242,0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,437,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,684,0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,1679,1,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,3984,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
preProce.cl_FIELD_12()

In [10]:
preProce.dataset.FIELD_12.value_counts()

0.0    16650
1.0       71
Name: FIELD_12, dtype: int64