In [1]:
from loadData import *
from preProcessing import *
pd.set_option("max_columns",None)
pd.set_option("max_rows",100)
from sklearn.preprocessing import LabelEncoder

In [2]:
train= load_train_dataset()
test = load_test_dataset()

/Users/hq/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
preProc = PreProcessing()
preProc.fit(train,dropNa = True)
preProc.transform()

,FIELD_18,FIELD_19,FIELD_20,FIELD_23,FIELD_25,FIELD_26,FIELD_27,FIELD_28,FIELD_29,FIELD_30,FIELD_31,FIELD_36,FIELD_37,FIELD_38,province,district,FIELD_8,FIELD_10,FIELD_11,FIELD_13,FIELD_17,FIELD_24,FIELD_39,FIELD_40,FIELD_41,FIELD_42,FIELD_44,id,label,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_12,FIELD_14,FIELD_15,FIELD_16,FIELD_21,FIELD_22,FIELD_32,FIELD_33,FIELD_34,FIELD_35,FIELD_43,FIELD_45,FIELD_46,FIELD_47,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57,HI_hight,HI_low,HI_normal,HI_none
1,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,NaN,2,NaN,2.0,1.0,1.0,1,0,1,0.0,NaN,1.0,1.0,1.0,NaN,0,0,2.0,1.0,4.0,0,1,0,0.0,NaN,1.0,0,False,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0,False,False,True,False
2,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,17.0,2.0,1.0,1.0,1.0,NaN,NaN,1,NaN,1.0,1.0,2.0,2,0,0,1.0,8.0,1.0,4.0,0.0,0.0,0,0,1.0,1.0,54.0,0,1,1,0.0,NaN,2.0,1,True,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0,True,False,False,False
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,270.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,3,0,0,1.0,10.0,1.0,1.0,0.0,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False
4,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,70.0,1.0,1.0,1.0,2.0,1.0,NaN,1,NaN,2.0,1.0,1.0,4,0,0,1.0,3.0,0.0,2.0,0.0,NaN,0,0,1.0,1.0,24.0,0,1,0,0.0,NaN,1.0,1,True,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0,False,False,True,False
6,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0,NaN,NaN,1.0,2.0,3.0,12.0,NaN,NaN,1,NaN,1.0,1.0,1.0,6,0,1,0.0,NaN,0.0,0.0,0.0,NaN,1,1,1.0,1.0,0.0,0,1,0,4.0,NaN,1.0,1,False,False,True,29.77,4.413,30.955,31.171,0.0,0.00,0.0,0.0,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,242,0,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,437,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,684,0,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1679,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
3984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,3984,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False

In [4]:
for i in preProc.dataset.columns:
    print("_____________________")
    print(preProc.dataset[i].value_counts(dropna = False))

_____________________
1.0    11545
2.0     8777
NaN     3010
Name: FIELD_18, dtype: int64
_____________________
1.0    15337
2.0     4985
NaN     3010
Name: FIELD_19, dtype: int64
_____________________
1.0    17190
2.0     3132
NaN     3010
Name: FIELD_20, dtype: int64
_____________________
1.0    20322
NaN     3010
Name: FIELD_23, dtype: int64
_____________________
1.0    15907
2.0     4415
NaN     3010
Name: FIELD_25, dtype: int64
_____________________
1.0    12301
2.0     8021
NaN     3010
Name: FIELD_26, dtype: int64
_____________________
1.0    20124
NaN     3010
2.0      198
Name: FIELD_27, dtype: int64
_____________________
1.0    20124
NaN     3010
2.0      198
Name: FIELD_28, dtype: int64
_____________________
1.0    16717
NaN     6614
2.0        1
Name: FIELD_29, dtype: int64
_____________________
1.0    10499
NaN     7135
2.0     5698
Name: FIELD_30, dtype: int64
_____________________
1.0    16083
NaN     7249
Name: FIELD_31, dtype: int64
_____________________
1.0    15932
2.0     4385
NaN     3015
Name: FIELD_36, dtype: int64
_____________________
1.0    19070
NaN     3013
2.0     1249
Name: FIELD_37, dtype: int64
_____________________
1.0    20200
NaN     3010
2.0      122
Name: FIELD_38, dtype: int64
_____________________
NaN     6150
1.0     2389
2.0     1033
3.0      807
4.0      667
5.0      641
6.0      608
7.0      549
8.0      538
9.0      508
10.0     414
11.0     375
12.0     358
13.0     333
14.0     330
15.0     312
16.0     309
17.0     308
18.0     306
19.0     300
20.0     294
21.0     289
22.0     287
23.0     283
24.0     252
25.0     238
26.0     228
27.0     212
28.0     199
29.0     192
30.0     184
31.0     177
32.0     177
33.0     162
34.0     160
35.0     160
36.0     158
37.0     148
38.0     142
39.0     141
40.0     130
41.0     128
42.0     126
43.0     122
44.0     121
45.0     115
46.0     111
47.0     109
48.0     109
49.0     107
50.0     102
51.0      96
52.0      83
53.0      77
54.0      73
55.0      72
56.0      62
57.0      58
58.0      46
59.0      45
60.0      38
61.0      34
62.0      31
63.0      19
Name: province, dtype: int64
_____________________
NaN      6181
1.0       405
2.0       322
3.0       244
4.0       194
         ...
668.0       1
703.0       1
706.0       1
659.0       1
693.0       1
Name: district, Length: 718, dtype: int64
_____________________
1.0    11031
2.0     9291
NaN     3010
Name: FIELD_8, dtype: int64
_____________________
1.0    10857
2.0     9465
NaN     3010
Name: FIELD_10, dtype: int64
_____________________
1.0    8801
2.0    5525
3.0    5214
NaN    3044
4.0     748
Name: FIELD_11, dtype: int64
_____________________
1.0      4976
2.0      4857
NaN      3032
3.0      1194
4.0      1071
         ...
221.0       1
197.0       1
214.0       1
211.0       1
219.0       1
Name: FIELD_13, Length: 228, dtype: int64
_____________________
NaN    19641
1.0     3536
2.0       75
3.0       39
4.0       21
5.0       12
6.0        6
7.0        2
Name: FIELD_17, dtype: int64
_____________________
NaN    22833
1.0      218
2.0      169
3.0      112
Name: FIELD_24, dtype: int64
_____________________
1    12007
2    10569
3      756
Name: FIELD_39, dtype: int64
_____________________
NaN    18233
1.0     4963
2.0       69
3.0       35
4.0       25
5.0        7
Name: FIELD_40, dtype: int64
_____________________
1.0    12936
2.0     4860
NaN     3010
3.0     1146
4.0      737
5.0      643
Name: FIELD_41, dtype: int64
_____________________
1.0    20163
NaN     3012
2.0      157
Name: FIELD_42, dtype: int64
_____________________
1.0    14850
2.0     5437
NaN     3045
Name: FIELD_44, dtype: int64
_____________________
4094     1
14994    1
661      1
6806     1
4759     1
        ..
15693    1
21840    1
23889    1
17746    1
0        1
Name: id, Length: 23332, dtype: int64
_____________________
0    22934
1      398
Name: label, dtype: int64
_____________________
1    17554
0     5778
Name: FIELD_1, dtype: int64
_____________________
1.0    19693
0.0     3633
NaN        6
Name: FIELD_2, dtype: int64
_____________________
NaN     3671
10.0    2913
7.0     2397
1.0     1999
2.0     1760
3.0     1671
4.0     1574
9.0     1533
6.0     1448
5.0     1407
8.0     1327
0.0     1318
11.0     134
12.0      48
14.0      25
13.0      24
20.0      22
16.0      18
15.0      15
17.0      12
19.0       8
18.0       8
Name: FIELD_3, dtype: int64
_____________________
0.0     13535
1.0      4802
2.0      3507
3.0      1020
4.0       305
5.0       113
6.0        34
NaN         6
7.0         5
8.0         4
12.0        1
Name: FIELD_4, dtype: int64
_____________________
0.0     6143
2.0     4694
3.0     3379
1.0     3090
4.0     2921
5.0     1633
6.0      791
7.0      342
8.0      159
9.0       89
10.0      33
11.0      24
12.0      15
13.0       8
NaN        6
14.0       5
Name: FIELD_5, dtype: int64
_____________________
0.0    20207
1.0     2117
2.0      925
3.0       73
NaN        6
4.0        4
Name: FIELD_6, dtype: int64
_____________________
0.0    16650
NaN     6611
1.0       71
Name: FIELD_12, dtype: int64
_____________________
0    18067
1     5265
Name: FIELD_14, dtype: int64
_____________________
0    18148
1     5184
Name: FIELD_15, dtype: int64
_____________________
1.0    18412
NaN     3010
2.0     1701
3.0      178
4.0       28
5.0        3
Name: FIELD_16, dtype: int64
_____________________
1.0    20296
NaN     3010
2.0       17
0.0        9
Name: FIELD_21, dtype: int64
_____________________
0.0      4206
NaN      3010
12.0     1101
24.0      944
36.0      612
         ...
335.0       1
274.0       1
397.0       1
326.0       1
233.0       1
Name: FIELD_22, Length: 349, dtype: int64
_____________________
0    19878
1     3454
Name: FIELD_32, dtype: int64
_____________________
1    13810
0     9522
Name: FIELD_33, dtype: int64
_____________________
0    16337
1     6995
Name: FIELD_34, dtype: int64
_____________________
0.0    9210
1.0    4472
4.0    4056
NaN    3010
2.0    1366
3.0    1218
Name: FIELD_35, dtype: int64
_____________________
NaN    22150
2.0      630
1.0      373
0.0      114
3.0       65
Name: FIELD_43, dtype: int64
_____________________
1.0    15886
2.0     4429
NaN     3017
Name: FIELD_45, dtype: int64
_____________________
1    12082
0    11250
Name: FIELD_46, dtype: int64
_____________________
True     15055
False     8277
Name: FIELD_47, dtype: int64
_____________________
True     17920
False     5412
Name: FIELD_48, dtype: int64
_____________________
True     20080
False     3252
Name: FIELD_49, dtype: int64
_____________________
29.770    17866
NaN        3010
60.946      821
63.293      576
65.068      523
66.366      298
67.097      149
67.477       72
67.610       14
67.634        3
Name: FIELD_50, dtype: int64
_____________________
NaN       3010
4.413     2665
21.478    1603
25.758     961
13.789     589
          ...
56.292       1
61.924       1
61.826       1
41.652       1
31.172       1
Name: FIELD_51, Length: 4526, dtype: int64
_____________________
30.955    18597
NaN        3010
62.953      260
63.607      117
66.454       43
          ...
64.896        1
66.318        1
67.390        1
64.251        1
66.282        1
Name: FIELD_52, Length: 613, dtype: int64
_____________________
31.171    18733
NaN        3010
63.125      148
63.591      117
66.446       43
          ...
67.494        1
65.928        1
63.850        1
63.896        1
67.102        1
Name: FIELD_53, Length: 613, dtype: int64
_____________________
0.00    17866
NaN      3010
0.12      821
0.25      576
0.38      523
0.50      298
0.62      149
0.75       72
0.88       14
1.00        3
Name: FIELD_54, dtype: int64
_____________________
NaN     3010
0.00    2665
0.05    2624
0.15    1712
0.14    1617
0.03    1438
0.13    1413
0.04    1230
0.16    1027
0.12     895
0.17     675
0.11     628
0.10     611
0.18     437
0.09     395
0.08     348
0.02     342
0.20     283
0.19     282
0.07     217
0.21     181
0.22     163
0.23     156
0.06     109
0.24     104
0.25      85
0.27      77
0.29      70
0.26      62
0.28      53
0.30      47
0.34      25
0.32      24
0.31      24
0.39      24
0.35      22
0.33      21
0.38      20
0.40      20
0.36      14
0.37      12
0.50      12
0.47      11
0.93      11
0.44       8
0.53       8
0.42       7
0.57       6
0.67       6
0.43       6
0.51       6
0.52       6
1.00       5
0.46       5
0.62       5
0.45       5
0.41       5
0.55       4
0.48       4
0.60       4
0.49       4
0.54       3
0.69       3
0.84       3
0.74       2
0.70       2
0.83       2
0.77       2
0.01       2
0.63       2
0.72       2
0.58       2
0.73       2
0.75       2
0.61       1
0.59       1
0.71       1
0.78       1
0.87       1
0.88       1
0.76       1
0.56       1
0.64       1
0.81       1
0.68       1
0.65       1
0.89       1
Name: FIELD_55, dtype: int64
_____________________
0.00    18597
NaN      3010
0.05      426
0.13      157
0.10      126
0.11      122
0.14      110
0.09      102
0.16       85
0.15       81
0.17       72
0.04       68
0.08       68
0.12       67
0.03       54
0.06       44
0.07       44
0.18       25
0.02       14
0.19       14
0.20       13
0.22        8
0.21        7
0.23        4
0.24        3
0.26        3
0.28        1
0.38        1
0.92        1
0.01        1
0.59        1
0.35        1
0.31        1
0.52        1
Name: FIELD_56, dtype: int64
_____________________
0.00    18733
NaN      3010
0.05      277
0.13      160
0.10      129
0.11      124
0.09      114
0.14      110
0.16       86
0.15       82
0.08       80
0.03       75
0.17       73
0.12       67
0.04       58
0.07       36
0.18       24
0.06       19
0.02       14
0.19       14
0.20       13
0.22        9
0.21        7
0.23        4
0.24        3
0.26        3
0.28        1
0.38        1
0.92        1
0.01        1
0.59        1
0.35        1
0.31        1
0.52        1
Name: FIELD_57, dtype: int64
_____________________
False    14130
True      9202
Name: HI_hight, dtype: int64
_____________________
False    20699
True      2633
Name: HI_low, dtype: int64
_____________________
True     12806
False    10526
Name: HI_normal, dtype: int64
_____________________
False    23332
Name: HI_none, dtype: int64

In [5]:
preProc.dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23332 entries, 1 to 3984
Data columns (total 63 columns):
FIELD_18     20322 non-null float64
FIELD_19     20322 non-null float64
FIELD_20     20322 non-null float64
FIELD_23     20322 non-null float64
FIELD_25     20322 non-null float64
FIELD_26     20322 non-null float64
FIELD_27     20322 non-null float64
FIELD_28     20322 non-null float64
FIELD_29     16718 non-null float64
FIELD_30     16197 non-null float64
FIELD_31     16083 non-null float64
FIELD_36     20317 non-null float64
FIELD_37     20319 non-null float64
FIELD_38     20322 non-null float64
province     17182 non-null float64
district     17151 non-null float64
FIELD_8      20322 non-null float64
FIELD_10     20322 non-null float64
FIELD_11     20288 non-null float64
FIELD_13     20300 non-null float64
FIELD_17     3691 non-null float64
FIELD_24     499 non-null float64
FIELD_39     23332 non-null int64
FIELD_40     5099 non-null float64
FIELD_41     20322 non-null float64
FIELD_42     20320 non-null float64
FIELD_44     20287 non-null float64
id           23332 non-null int64
label        23332 non-null int64
FIELD_1      23332 non-null int64
FIELD_2      23326 non-null float64
FIELD_3      19661 non-null float64
FIELD_4      23326 non-null float64
FIELD_5      23326 non-null float64
FIELD_6      23326 non-null float64
FIELD_12     16721 non-null float64
FIELD_14     23332 non-null int64
FIELD_15     23332 non-null int64
FIELD_16     20322 non-null float64
FIELD_21     20322 non-null float64
FIELD_22     20322 non-null float64
FIELD_32     23332 non-null int64
FIELD_33     23332 non-null int64
FIELD_34     23332 non-null int64
FIELD_35     20322 non-null float64
FIELD_43     1182 non-null float64
FIELD_45     20315 non-null float64
FIELD_46     23332 non-null int64
FIELD_47     23332 non-null bool
FIELD_48     23332 non-null bool
FIELD_49     23332 non-null bool
FIELD_50     20322 non-null float64
FIELD_51     20322 non-null float64
FIELD_52     20322 non-null float64
FIELD_53     20322 non-null float64
FIELD_54     20322 non-null float64
FIELD_55     20322 non-null float64
FIELD_56     20322 non-null float64
FIELD_57     20322 non-null float64
HI_hight     23332 non-null bool
HI_low       23332 non-null bool
HI_normal    23332 non-null bool
HI_none      23332 non-null bool
dtypes: bool(7), float64(46), int64(10)
memory usage: 10.3 MB

In [6]:
# from sklearn.preprocessing import LabelEncoder
# lbEncoder = LabelEncoder()

In [7]:
def convert_bool(val):
        if val == True:
            return True
        elif val == False:
            return False
        return np.nan
preProc.dataset.FIELD_18.astype("int32")

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
encode_cols = ["province","district","FIELD_8","FIELD_11","FIELD_13","FIELD_24","FIELD_39",
        "FIELD_40","FIELD_41","FIELD_42","FIELD_44"]  
encode_df = train[encode_cols]

In [ ]:
encode_df = encode_df.apply(EncodeLabelNan().fit_transform)
df_drop = train.drop(encode_cols,axis = 1)

In [ ]:
pd.concat([encode_df,df_drop],axis=1)