In [1]:
from loadData import *
from preProcessing import *
pd.set_option("max_columns",None)
pd.set_option("max_rows",100)

In [2]:
train= load_train_dataset()
test = load_test_dataset()

/Users/hq/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
preProce = PreProcessing()
preProce.fit(train,dropNa = True)
train_pre = preProce.transform()

In [6]:
print("train")
for i in train_pre.columns:
    print("_________________________________________")
    print(train_pre[i].value_counts(dropna = False))

train
_________________________________________
4094     1
14994    1
661      1
6806     1
4759     1
        ..
15693    1
21840    1
23889    1
17746    1
0        1
Name: id, Length: 23332, dtype: int64
_________________________________________
0    22934
1      398
Name: label, dtype: int64
_________________________________________
nan                       6150
thành phố hồ chí minh     2389
tỉnh đồng nai             1033
tỉnh bình dương            807
thành phố hà nội           667
tỉnh tiền giang            641
tỉnh an giang              608
tỉnh long an               549
tỉnh thanh hóa             538
tỉnh kiên giang            508
tỉnh nghệ an               414
tỉnh quảng nam             375
tỉnh đồng tháp             358
tỉnh bến tre               333
tỉnh tây ninh              330
tỉnh bình định             312
tỉnh vĩnh long             309
tỉnh khánh hòa             308
tỉnh bà rịa - vũng tàu     306
tỉnh sóc trăng             300
tỉnh cà mau                294
tỉnh đắk lắk               289
tỉnh bình thuận            287
tỉnh trà vinh              283
thành phố hải phòng        252
tỉnh bạc liêu              238
thành phố đà nẵng          228
tỉnh bắc giang             212
tỉnh thừa thiên huế        199
thành phố cần thơ          192
tỉnh quảng ngãi            184
tỉnh bình phước            177
tỉnh quảng ninh            177
tỉnh hà tĩnh               162
tỉnh phú yên               160
tỉnh hậu giang             160
tỉnh phú thọ               158
tỉnh nam định              148
tỉnh thái nguyên           142
tỉnh thái bình             141
tỉnh bắc ninh              130
tỉnh ninh bình             128
tỉnh lâm đồng              126
tỉnh vĩnh phúc             122
tỉnh hải dương             121
tỉnh hưng yên              115
tỉnh ninh thuận            111
tỉnh gia lai               109
tỉnh hà nam                107
tỉnh quảng bình            102
tỉnh quảng trị              96
tỉnh tuyên quang            83
tỉnh hoà bình               79
tỉnh sơn la                 77
tỉnh lạng sơn               73
tỉnh yên bái                72
tỉnh lào cai                62
tỉnh đắk nông               58
tỉnh cao bằng               46
tỉnh điện biên              45
tỉnh bắc kạn                38
tỉnh kon tum                34
tỉnh hà giang               31
tỉnh hòa bình               30
tỉnh lai châu               19
Name: province, dtype: int64
_________________________________________
nan                   6181
huyện châu thành       405
thành phố biên hòa     322
thị xã thuận an        244
quận bình tân          194
                      ...
huyện thạch an           1
tổ 3 ấp tây              1
ấp khúc tréo b           1
cây trôi                 1
huyện nà hang            1
Name: district, Length: 718, dtype: int64
_________________________________________
1    17554
0     5778
Name: FIELD_1, dtype: int64
_________________________________________
1.0    19693
0.0     3633
NaN        6
Name: FIELD_2, dtype: int64
_________________________________________
NaN     3671
10.0    2913
7.0     2397
1.0     1999
2.0     1760
3.0     1671
4.0     1574
9.0     1533
6.0     1448
5.0     1407
8.0     1327
0.0     1318
11.0     134
12.0      48
14.0      25
13.0      24
20.0      22
16.0      18
15.0      15
17.0      12
18.0       8
19.0       8
Name: FIELD_3, dtype: int64
_________________________________________
0.0     13535
1.0      4802
2.0      3507
3.0      1020
4.0       305
5.0       113
6.0        34
NaN         6
7.0         5
8.0         4
12.0        1
Name: FIELD_4, dtype: int64
_________________________________________
0.0     6143
2.0     4694
3.0     3379
1.0     3090
4.0     2921
5.0     1633
6.0      791
7.0      342
8.0      159
9.0       89
10.0      33
11.0      24
12.0      15
13.0       8
NaN        6
14.0       5
Name: FIELD_5, dtype: int64
_________________________________________
0.0    20207
1.0     2117
2.0      925
3.0       73
NaN        6
4.0        4
Name: FIELD_6, dtype: int64
_________________________________________
MALE      11031
FEMALE     9291
NaN        3010
Name: FIELD_8, dtype: int64
_________________________________________
T1     10857
GH      9465
NaN     3010
Name: FIELD_10, dtype: int64
_________________________________________
2.0    8801
0.0    5525
1.0    5214
NaN    3044
3.0     748
Name: FIELD_11, dtype: int64
_________________________________________
0.0    16650
NaN     6611
1.0       71
Name: FIELD_12, dtype: int64
_________________________________________
YN     4976
BI     4857
NaN    3032
TA     1194
BO     1071
       ...
EL        1
QU        1
QM        1
AD        1
SR        1
Name: FIELD_13, Length: 228, dtype: int64
_________________________________________
0    18067
1     5265
Name: FIELD_14, dtype: int64
_________________________________________
0    18148
1     5184
Name: FIELD_15, dtype: int64
_________________________________________
1.0    18412
NaN     3010
2.0     1701
3.0      178
4.0       28
5.0        3
Name: FIELD_16, dtype: int64
_________________________________________
NaN    19641
G8      3536
G3        75
GX        39
G7        21
G9        12
G4         6
G2         2
Name: FIELD_17, dtype: int64
_________________________________________
True     11545
False     8777
NaN       3010
Name: FIELD_18, dtype: int64
_________________________________________
False    15337
True      4985
NaN       3010
Name: FIELD_19, dtype: int64
_________________________________________
False    17190
True      3132
NaN       3010
Name: FIELD_20, dtype: int64
_________________________________________
1.0    20296
NaN     3010
2.0       17
0.0        9
Name: FIELD_21, dtype: int64
_________________________________________
0.0      4206
NaN      3010
12.0     1101
24.0      944
36.0      612
         ...
335.0       1
274.0       1
397.0       1
326.0       1
233.0       1
Name: FIELD_22, Length: 349, dtype: int64
_________________________________________
True    20322
NaN      3010
Name: FIELD_23, dtype: int64
_________________________________________
NaN    22833
K2       218
K1       169
K3       112
Name: FIELD_24, dtype: int64
_________________________________________
True     15907
False     4415
NaN       3010
Name: FIELD_25, dtype: int64
_________________________________________
False    12301
True      8021
NaN       3010
Name: FIELD_26, dtype: int64
_________________________________________
True     20124
NaN       3010
False      198
Name: FIELD_27, dtype: int64
_________________________________________
True     20124
NaN       3010
False      198
Name: FIELD_28, dtype: int64
_________________________________________
False    16717
NaN       6614
True         1
Name: FIELD_29, dtype: int64
_________________________________________
False    10499
NaN       7135
True      5698
Name: FIELD_30, dtype: int64
_________________________________________
False    16083
NaN       7249
Name: FIELD_31, dtype: int64
_________________________________________
0    19878
1     3454
Name: FIELD_32, dtype: int64
_________________________________________
1    13810
0     9522
Name: FIELD_33, dtype: int64
_________________________________________
0    16337
1     6995
Name: FIELD_34, dtype: int64
_________________________________________
Zero     9210
One      4472
Four     4056
NaN      3010
Two      1366
Three    1218
Name: FIELD_35, dtype: int64
_________________________________________
False    15932
True      4385
NaN       3015
Name: FIELD_36, dtype: int64
_________________________________________
True     19070
NaN       3013
False     1249
Name: FIELD_37, dtype: int64
_________________________________________
False    20200
NaN       3010
True       122
Name: FIELD_38, dtype: int64
_________________________________________
NaN    12007
VN     10569
FoR      756
Name: FIELD_39, dtype: int64
_________________________________________
NaN            18233
1               4963
02 05 08 11       69
3                 35
6                 25
2                  7
Name: FIELD_40, dtype: int64
_________________________________________
I      12936
V       4860
NaN     3010
II      1146
III      737
IV       643
Name: FIELD_41, dtype: int64
_________________________________________
Zezo    20163
NaN      3012
One       157
Name: FIELD_42, dtype: int64
_________________________________________
NaN    22136
C        630
B        373
A        114
D         65
5         13
0          1
Name: FIELD_43, dtype: int64
_________________________________________
One    14850
Two     5437
NaN     3045
Name: FIELD_44, dtype: int64
_________________________________________
1.0    15886
2.0     4429
NaN     3017
Name: FIELD_45, dtype: int64
_________________________________________
1    12082
0    11250
Name: FIELD_46, dtype: int64
_________________________________________
True     15055
False     8277
Name: FIELD_47, dtype: int64
_________________________________________
True     17920
False     5412
Name: FIELD_48, dtype: int64
_________________________________________
True     20080
False     3252
Name: FIELD_49, dtype: int64
_________________________________________
29.770    17866
NaN        3010
60.946      821
63.293      576
65.068      523
66.366      298
67.097      149
67.477       72
67.610       14
67.634        3
Name: FIELD_50, dtype: int64
_________________________________________
NaN       3010
4.413     2665
21.478    1603
25.758     961
13.789     589
          ...
56.292       1
61.924       1
61.826       1
41.652       1
31.172       1
Name: FIELD_51, Length: 4526, dtype: int64
_________________________________________
30.955    18597
NaN        3010
62.953      260
63.607      117
66.454       43
          ...
64.896        1
66.318        1
67.390        1
64.251        1
66.282        1
Name: FIELD_52, Length: 613, dtype: int64
_________________________________________
31.171    18733
NaN        3010
63.125      148
63.591      117
66.446       43
          ...
67.494        1
65.928        1
63.850        1
63.896        1
67.102        1
Name: FIELD_53, Length: 613, dtype: int64
_________________________________________
0.00    17866
NaN      3010
0.12      821
0.25      576
0.38      523
0.50      298
0.62      149
0.75       72
0.88       14
1.00        3
Name: FIELD_54, dtype: int64
_________________________________________
NaN     3010
0.00    2665
0.05    2624
0.15    1712
0.14    1617
0.03    1438
0.13    1413
0.04    1230
0.16    1027
0.12     895
0.17     675
0.11     628
0.10     611
0.18     437
0.09     395
0.08     348
0.02     342
0.20     283
0.19     282
0.07     217
0.21     181
0.22     163
0.23     156
0.06     109
0.24     104
0.25      85
0.27      77
0.29      70
0.26      62
0.28      53
0.30      47
0.34      25
0.32      24
0.31      24
0.39      24
0.35      22
0.33      21
0.38      20
0.40      20
0.36      14
0.37      12
0.50      12
0.47      11
0.93      11
0.44       8
0.53       8
0.42       7
0.57       6
0.67       6
0.43       6
0.51       6
0.52       6
1.00       5
0.46       5
0.62       5
0.45       5
0.41       5
0.55       4
0.48       4
0.60       4
0.49       4
0.54       3
0.69       3
0.84       3
0.74       2
0.70       2
0.83       2
0.77       2
0.01       2
0.63       2
0.72       2
0.58       2
0.73       2
0.75       2
0.61       1
0.59       1
0.71       1
0.78       1
0.87       1
0.88       1
0.76       1
0.56       1
0.64       1
0.81       1
0.68       1
0.65       1
0.89       1
Name: FIELD_55, dtype: int64
_________________________________________
0.00    18597
NaN      3010
0.05      426
0.13      157
0.10      126
0.11      122
0.14      110
0.09      102
0.16       85
0.15       81
0.17       72
0.04       68
0.08       68
0.12       67
0.03       54
0.06       44
0.07       44
0.18       25
0.02       14
0.19       14
0.20       13
0.22        8
0.21        7
0.23        4
0.24        3
0.26        3
0.28        1
0.38        1
0.92        1
0.01        1
0.59        1
0.35        1
0.31        1
0.52        1
Name: FIELD_56, dtype: int64
_________________________________________
0.00    18733
NaN      3010
0.05      277
0.13      160
0.10      129
0.11      124
0.09      114
0.14      110
0.16       86
0.15       82
0.08       80
0.03       75
0.17       73
0.12       67
0.04       58
0.07       36
0.18       24
0.06       19
0.02       14
0.19       14
0.20       13
0.22        9
0.21        7
0.23        4
0.24        3
0.26        3
0.28        1
0.38        1
0.92        1
0.01        1
0.59        1
0.35        1
0.31        1
0.52        1
Name: FIELD_57, dtype: int64
_________________________________________
5.0     5156
4.0     4643
6.0     4015
7.0     3089
8.0     1982
9.0     1410
NaN     1391
10.0     742
3.0      493
11.0     349
12.0      20
2.0       19
1.0        7
13.0       6
15.0       4
14.0       3
0.0        2
17.0       1
19.0       0
16.0       0
18.0       0
Name: age, dtype: int64
_________________________________________
False    14130
True      9202
Name: HI_hight, dtype: int64
_________________________________________
False    20699
True      2633
Name: HI_low, dtype: int64
_________________________________________
True     12806
False    10526
Name: HI_normal, dtype: int64
_________________________________________
False    23332
Name: HI_none, dtype: int64