In [1]:
from loadData import *
from preProcessing import *
pd.set_option("max_columns",None)
pd.set_option("max_rows",100)
from sklearn.preprocessing import LabelEncoder

In [3]:
train= load_train_dataset()
test = load_test_dataset()

/Users/hq/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
preProc = PreProcessing()
preProc.fit(train,dropNa = True)
preProc.transform()

,FIELD_18,FIELD_19,FIELD_20,FIELD_23,FIELD_25,FIELD_26,FIELD_27,FIELD_28,FIELD_29,FIELD_30,FIELD_31,FIELD_36,FIELD_37,FIELD_38,province,district,FIELD_8,FIELD_10,FIELD_11,FIELD_13,FIELD_17,FIELD_24,FIELD_39,FIELD_40,FIELD_41,FIELD_42,FIELD_44,id,label,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_12,FIELD_14,FIELD_15,FIELD_16,FIELD_21,FIELD_22,FIELD_32,FIELD_33,FIELD_34,FIELD_35,FIELD_43,FIELD_45,FIELD_46,FIELD_47,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57,HI_hight,HI_low,HI_normal,HI_none
1,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,NaN,2,NaN,2.0,1.0,1.0,1,0,1,0.0,NaN,1.0,1.0,1.0,NaN,0,0,2.0,1.0,4.0,0,1,0,0.0,NaN,1.0,0,False,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0,False,False,True,False
2,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,17.0,2.0,1.0,1.0,1.0,NaN,NaN,1,NaN,1.0,1.0,2.0,2,0,0,1.0,8.0,1.0,4.0,0.0,0.0,0,0,1.0,1.0,54.0,0,1,1,0.0,NaN,2.0,1,True,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0,True,False,False,False
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,270.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,3,0,0,1.0,10.0,1.0,1.0,0.0,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False
4,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,70.0,1.0,1.0,1.0,2.0,1.0,NaN,1,NaN,2.0,1.0,1.0,4,0,0,1.0,3.0,0.0,2.0,0.0,NaN,0,0,1.0,1.0,24.0,0,1,0,0.0,NaN,1.0,1,True,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0,False,False,True,False
6,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0,NaN,NaN,1.0,2.0,3.0,12.0,NaN,NaN,1,NaN,1.0,1.0,1.0,6,0,1,0.0,NaN,0.0,0.0,0.0,NaN,1,1,1.0,1.0,0.0,0,1,0,4.0,NaN,1.0,1,False,False,True,29.77,4.413,30.955,31.171,0.0,0.00,0.0,0.0,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,242,0,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,437,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,684,0,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1679,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
3984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,3984,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,0,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False

In [2]:
# for i in preProc.dataset.columns:
#     print("_____________________")
#     print(preProc.dataset[i].value_counts(dropna = False))

In [5]:
preProc.dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23332 entries, 1 to 3984
Data columns (total 63 columns):
FIELD_18     20322 non-null float64
FIELD_19     20322 non-null float64
FIELD_20     20322 non-null float64
FIELD_23     20322 non-null float64
FIELD_25     20322 non-null float64
FIELD_26     20322 non-null float64
FIELD_27     20322 non-null float64
FIELD_28     20322 non-null float64
FIELD_29     16718 non-null float64
FIELD_30     16197 non-null float64
FIELD_31     16083 non-null float64
FIELD_36     20317 non-null float64
FIELD_37     20319 non-null float64
FIELD_38     20322 non-null float64
province     17182 non-null float64
district     17151 non-null float64
FIELD_8      20322 non-null float64
FIELD_10     20322 non-null float64
FIELD_11     20288 non-null float64
FIELD_13     20300 non-null float64
FIELD_17     3691 non-null float64
FIELD_24     499 non-null float64
FIELD_39     23332 non-null int64
FIELD_40     5099 non-null float64
FIELD_41     20322 non-null float64
FIELD_42     20320 non-null float64
FIELD_44     20287 non-null float64
id           23332 non-null int64
label        23332 non-null int64
FIELD_1      23332 non-null int64
FIELD_2      23326 non-null float64
FIELD_3      19661 non-null float64
FIELD_4      23326 non-null float64
FIELD_5      23326 non-null float64
FIELD_6      23326 non-null float64
FIELD_12     16721 non-null float64
FIELD_14     23332 non-null int64
FIELD_15     23332 non-null int64
FIELD_16     20322 non-null float64
FIELD_21     20322 non-null float64
FIELD_22     20322 non-null float64
FIELD_32     23332 non-null int64
FIELD_33     23332 non-null int64
FIELD_34     23332 non-null int64
FIELD_35     20322 non-null float64
FIELD_43     1182 non-null float64
FIELD_45     20315 non-null float64
FIELD_46     23332 non-null int64
FIELD_47     23332 non-null bool
FIELD_48     23332 non-null bool
FIELD_49     23332 non-null bool
FIELD_50     20322 non-null float64
FIELD_51     20322 non-null float64
FIELD_52     20322 non-null float64
FIELD_53     20322 non-null float64
FIELD_54     20322 non-null float64
FIELD_55     20322 non-null float64
FIELD_56     20322 non-null float64
FIELD_57     20322 non-null float64
HI_hight     23332 non-null bool
HI_low       23332 non-null bool
HI_normal    23332 non-null bool
HI_none      23332 non-null bool
dtypes: bool(7), float64(46), int64(10)
memory usage: 10.3 MB

In [6]:
# from sklearn.preprocessing import LabelEncoder
# lbEncoder = LabelEncoder()

In [25]:
vals, counts =np.unique(np.abs(train.age_source1.values - train.age_source2.values ),return_counts = True)

In [27]:
counts

array([15202,    54,    40, ...,     1,     1,     1])

In [ ]:
encode_cols = ["province","district","FIELD_8","FIELD_11","FIELD_13","FIELD_24","FIELD_39",
        "FIELD_40","FIELD_41","FIELD_42","FIELD_44"]  
encode_df = train[encode_cols]

In [ ]:
encode_df = encode_df.apply(EncodeLabelNan().fit_transform)
df_drop = train.drop(encode_cols,axis = 1)

In [ ]:
pd.concat([encode_df,df_drop],axis=1)